<section id="footer">
        <footer class="footerContainer">
            <div class="upperFooter">
                <div class="upperFirstPart">
                    <ul>
                        <a href="#">
                            <li>Instagram</li>
                        </a>
                        <a href="#">
                            <li>Facebook</li>
                        </a>
                        <a href="#">
                            <li>Twitter</li>
                        </a>
                        <a href="#">
                            <li>Tiktok</li>
                        </a>
                        <a href="#">
                            <li>Youtube</li>
                        </a>
                    </ul>
                </div>
                <div class="upperSecondPart">
                    <ul>
                        <a href="#">
                            <li>Terms & Conditions</li>
                        </a>
                        <a href="#">
                            <li>Shipping & Returns</li>
                        </a>
                        <a href="#">
                            <li>Privacy Policy</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="footerLine"></div>
            <div class="bottomFooter">
                <span>© 2023 by TrackMate. </span>
                <div class="bottomFooterImgs">
                    <img src="../img/MasterCards/Visa.webp" alt="">
                    <img src="../img/MasterCards/brand-amex_3x.webp" alt="">
                    <img src="../img/MasterCards/brand-chinaunionpay_3x.webp" alt="">
                    <img src="../img/MasterCards/brand-jcb_3x.webp" alt="">
                    <img src="../img/MasterCards/brand-mastercard_3x.webp" alt="">
                    <img src="../img/MasterCards/Diners.webp" alt="">
                    <img src="../img/MasterCards/Discover.webp" alt="">
                    <img src="../img/MasterCards/PayPal.webp" alt="">
                </div>
            </div>
        </footer>
    </section>