<section id="header" >
        <div class="Myheader_Navigation" id="headerBar" >
            <div class="Logo">
                <a href="/"><i class="far fa-dot-circle"></i><h1>TrackMate</h1></a>
                <i class="fas fa-bars" id="bar"></i>
            </div>
            <nav class="navbar" id="navbar">
                <ul id="navbarUl">
                    <li><a href="faq">FAQ</a></li>
                    <li>
                        <a href="login" class="login"><img src="../img/Icon/login.png" alt="...">Log In</a>
                    </li>
                    <li>
                        <a href="#"><img src="../img/Icon/shopping-bag.png" alt="..."></a>
                    </li>
                    <a href="#" class="My-Btn ">Buy Now</a>
                </ul>
            </nav>
        </div>
    </section>