<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TarckMate</title>
    <!-- My Links -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/Bg/watches-1.png" type="image/x-icon">
</head>

<body>
    <!-- -----------Header----------- -->
    {{>header}}
    <!-- -----------\* Header End */----------- -->


    <!-- -----------First Container----------- -->
    <section id="1">
        <div class="firstContainer ">
            <div class="firstContentPart">
                <h3>Own Your Daily Routine</h3>
                <h1>0.4 TrackMate XE</h1>
                <h2>A health tracker that motivates you every step of the way</h2>
                <a href="#" class="My-Btn Btn-Big">Buy Now</a>
            </div>
            <div class="firstImagePart">
                <img src="../img/Bg/watches-1.png" alt="">
            </div>
        </div>
    </section>
    <!-- -----------\* First Container End */----------- -->



    <!-- -----------Second Container----------- -->
    <section id="2">
        <div class="secondContainer">
            <div class="second_cont_firstPart" data-aos="fade-up"></div>
            <div class="second_cont_MiddlePart" data-aos="fade-up">
                <div class="IconcontentPart">
                    <div class="IconPart">
                        <img src="../img/Icon/dumble.webp" alt="...">
                        <h3>WORKOUT TRACKING</h3>
                    </div>
                    <div class="ContentPart">
                        <h1>Fine Tune Your Routine With Precise Workout Stats</h1>
                        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>

                    </div>
                </div>
                <div class="ImagePart">
                    <img src="../img/Bg/mobile-1.webp" alt="...">
                </div>
            </div>
            <div class="second_cont_secondPart" data-aos="fade-up"></div>
        </div>
    </section>


    <!-- -----------\* Second Container End */----------- -->


    <!-- -----------Third Container----------- -->

    <section id="3">
        <div class="ThirdContainer">
            <div class="second_cont_secondPart"></div>

            <div class="second_cont_MiddlePart">
                <div class="ImagePart">
                    <img src="../img/Bg/watches-2.webp" alt="...">
                </div>
                <div class="IconcontentPart">
                    <div class="IconPart">
                        <img src="../img/Icon/message.webp" alt="...">
                        <h3>NOTIFICATION SYSTEM</h3>
                    </div>
                    <div class="ContentPart">
                        <h1>Helpful Reminders To Keep You on Track</h1>
                        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>

                    </div>
                </div>
            </div>
            <div class="second_cont_firstPart"></div>
        </div>
    </section>

    <!-- -----------\* Third Container End */----------- -->



    <!-- -----------Fourth Container----------- -->
    <section id="4">
        <div class="Container-1200px">
            <div class="fourthContainer_Background">
                <div id="4_1" class="fourth_middle-container">
                    <div class="contentFourth">
                        <img src="../img/Icon/eye.webp" alt="">
                        <h1>Match Your Band to Your Style </h1>
                        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                    </div>
                    <img src="../img/Bg/watches-3.webp" alt="">
                    <a href="" class="My-Btn Btn-20">Buy Now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- -----------\* Fourth Container End */----------- -->


    <!-- -----------Fifth Container----------- -->

    <section id="5">
        <div class="fifthContainer">
            <div class="fifth_inner_container">
                <div class="IconcontentPart">
                    <div class="IconPart">
                        <img src="../img/Icon/alert.webp" alt="...">
                        <h3>ALERT SYSTEM</h3>
                    </div>
                    <div class="ContentPart">
                        <h1>Let Your Body Be Your Guide</h1>
                        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                    </div>
                </div>
            </div>
    </section>

    <!-- -----------\* Fifth Container End */----------- -->


    <!-- -----------Sixth Container----------- -->

    <section id="6">
        <div class="sixthContainer">
            <div class="sixth_inner_container">
                <h1>0.4 TrackMate XE Specifications</h1>
                <div class="sixth_middle_container">
                    <img src="../img/Bg/watches-4.webp" alt="">
                    <div class="cardContainer">
                        <div class="cards card-1" data-aos="fade-left">
                            <div class="cardIcon">
                                <img src="../img/Icon/bluetooth.webp" alt="">
                                <h1>Bluetooth Connectivity</h1>
                            </div>
                            <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                        </div>
                        <div class="cards card-2" data-aos="fade-right">
                            <div class="cardIcon">
                                <img src="../img/Icon/battery.webp" alt="">
                                <h1>20 Hour Battery Life</h1>
                            </div>
                            <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                        </div>
                        <div class="cards card-3" data-aos="fade-left">
                            <div class="cardIcon">
                                <img src="../img/Icon/water.webp" alt="">
                                <h1>Water Resistance</h1>
                            </div>
                            <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                        </div>
                        <div class="cards card-4" data-aos="fade-right">
                            <div class="cardIcon">
                                <img src="../img/Icon/wifi.webp" alt="">
                                <h1>Wireless Charging</h1>
                            </div>
                            <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="My-Btn Btn-20">Buy Now</a>
            </div>
        </div>
    </section>

    <!-- -----------|* Sixth Container End  *|----------- -->


    <!-- -----------Seven Container----------- -->

    <section id="7">
        <div class="SeventhContainer">
            <div class="seventh_First_Part">
                <div class="seventhContentPart">
                    <img src="../img/Icon/night.webp" alt="">
                    <h3>Learn More About Yourself</h3>
                    <h1>Track Your Sleeping Habits</h1>
                </div>
            </div>
            <div class="seventh_Second_Part">
                <div class="seventhContentPart">
                    <img src="../img/Icon/jelly.webp" alt="">
                    <h3>TAKE A DEEP BREATH</h3>
                    <h1>Get a Guided Mindfulness Break</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- -----------|* Seven Container End  *|----------- -->


    <!-- -----------Eight Container----------- -->

    <section id="8">
        <div class="EightContainer">
            <div class="eigth_inner">
                <img src="../img/Icon/life.webp" alt="">
                <h3>A LIFE CHANGING DEVICE</h3>
                <h1>Get Your 0.4 TrackMate XE Today</h1>
                <a href="" class="My-Btn Btn-20">Buy Now</a>
                <img src="../img/Bg/watches-5.webp" alt="">
            </div>
        </div>
    </section>

    <!-- -----------|* Eight Container End  *|----------- -->



    <!-- -----------Nine Container----------- -->

    <section id="9">
        <div class="NineContainer">
            <div class="nine_content">
                <h1>Subscribe and Get 15% Off Your First Purchase</h1>
                <form action="#" class="form">
                    <label for="signUp">Email*</label>
                    <div class="inputForm">
                        <input type="text" id="signUp" class="signupInput" placeholder="Sign Up Here">
                        <a href="#" class="subBtn">Subscribe</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- -----------|* Nine Container End  *|----------- -->


    <!-- -----------Footer Container----------- -->

    {{>footer}}

    <!-- -----------|* Footer Container End  *|----------- -->
    <script src="../js/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1800,
            offset: 150
        });
    </script>
</body>

</html>